html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-size: large;
}

.body {
    background: url("../images/one.jpg");
    font-size: medium;
}